/* Content position */
.content {
  position: relative;
  z-index: 3;
}

/* Button positioning */
#no {
  position: absolute;
  display: inline-block;
  left: 35%;
  top: 40vh;
  -webkit-transition: all 0.1s ease-out;
}

#yes {
  position: absolute;
  display: inline-block;
  left: 70%;
  top: 40vh;
  -webkit-transition: all 0.3s ease-out;
}

/* Background Image with Blur Effect */
#bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  z-index: 0;
  background-image: url(https://i.pinimg.com/originals/b1/12/e9/b112e9dba65871d467ca28e31447060a.gif);
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(3px); /* Slightly reduced blur */
}

/* Styling for SweetAlert2 */
.swal2-title, .swal2-content {
  color: azure !important;
}

.swal2-popup {
  border-radius: 15px !important;
  padding: 20px;
  width: 400px !important; /* Adjust width */
}

/* Header styles */
header h2 {
  font-family: 'Pacifico';
  font-size: 80px;
  text-align: center;
  margin-bottom: 30px;
}

header h4 {
  font-family: 'Pacifico';
  text-align: center;
}

/* Mobile-responsive styles */
@media only screen and (max-width: 500px) {
  header h2 {
    font-size: 45px;
    margin-bottom: 30px;
  }

  header h4 {
    padding: 15px;
  }

  #no {
    left: 10%;
    top: 40vh;
    font-size: 14px;
    padding: 10px;
  }

  #yes {
    left: 70%;
    top: 40vh;
    font-size: 14px;
    padding: 10px;
  }
}

#toggleButton {
  background-color: transparent;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: #555;
  transition: color 0.3s ease, transform 0.2s ease;
}

#toggleButton:hover {
  color: #ff0040; /* Change color on hover */
  transform: scale(1.1); /* Slightly enlarge the button */
}

#toggleButton .fas {
  transition: color 0.3s ease; /* Smooth color transition */
}

#toggleButton.playing .fas {
  color: #00FF00;  /* Color change when music is playing */
}
